name: first_protection
description: "First Protection"

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  google_fonts: ^7.0.0
  firebase_core: ^3.6.0      
  firebase_auth: ^5.3.1      
  cloud_firestore: ^5.4.4  
  firebase_database: ^11.1.0  
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
